body {
  margin-top: 100px;
  font-family: 'Courier New', monospace;
  text-align: center;
}

#target {
  font-size: 48px;
  letter-spacing: .1em;
}

#type {
  font-size: 48px;
  letter-spacing: .1em;
}

#typed {
  font-size: 48px;
  letter-spacing: .1em;
}

#enemy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  justify-content: center;
}

#enemyName {

  width:  inherit;
  margin-bottom: 1px;
}

.lizardman {
  width: 70px;
}
